.timeline button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/*
CIRCLE ANIMATION
*/

.timeline .circle:hover {
  position: relative;

  -webkit-transition: height 0.25s ease, width 0.25s ease;
  transition: height 0.25s ease, width 0.25s ease;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timeline .circle {
  height: 60px;
  width: 60px;
}

/* .timeline .circle:hover:before,
.timeline .circle:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid red;
} */

.timeline .circle:hover:before {
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}

.timeline .circle:hover:after {
  -webkit-animation: ripple 1s linear 0.5s infinite;
  animation: ripple 1s linear 0.5s infinite;
}

.timeline .circle:before,
.timeline .circle:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
  }

  75% {
    -webkit-transform: scale(2.75);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(2.75);
    opacity: 1;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline > ol {
  font-size: 0;
  width: 100vw;
  padding: 100px 0;
  transition: all 1s;

  /* AutoScroll */
  animation: cambio 20s infinite linear;
}

.timeline > ol > li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  /* width variable según cercanía tiempo */
  width: 160px;
  height: 3px;
  background: black;

  /* AutoScroll */
  padding: 0 10px;
  list-style: none;
}

.timeline > ol > li:last-child {
  width: 250px;
}

.timeline > ol > li:not(:last-child) span.show-info {
  content: "";
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  left: calc(100% + 1px);
  bottom: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f8780f;
}

.timeline > ol > li:not(:last-child) .just-date {
  position: absolute;
  height: auto;
  opacity: 1;
  right: -35px;
  top: -5px;
  z-index: -1;
}

.timeline > ol > li.flip .just-date {
  top: -95px !important;
}

.timeline > ol > li.flip .circle {
  top: -15px !important;
}

.timeline > ol > li:nth-child(odd) .just-date {
  top: 28px;
}

.timeline > ol > li:nth-child(even) .just-date {
  top: -40px;
  display: none;
}

.timeline > ol > li:nth-child(odd) .circle {
  top: 18px;
}

.timeline > ol > li:nth-child(even) .circle {
  top: -12px;
  display: none;
}

.timeline > ol > li:not(:last-child) .just-date p {
  font-size: 0.8rem;
  font-weight: normal;
}

.timeline time:not(.date) {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeLineText {
  margin-top: 43px;
  margin-right: -255px;
  font-family: Inter !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* EVENTS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav.archive-links {
  background-color: #fff;
  box-sizing: content-box;
  padding: 0;
  /* Ordered list with custom counter */
  /* Style the title, date & comments of each entry */
}

nav.archive-links ol.ol-events {
  counter-reset: li;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  margin: 0;
  padding: 0px;
}

nav.archive-links ol.ol-events li {
  float: left;
  clear: left;
  width: 100%;
  margin: 0;
  list-style: none;
}

nav.archive-links ol.ol-events,
nav.archive-links ol.ol-events li,
nav.archive-links ol.ol-events li a {
  display: block;
}

nav.archive-links ol.ol-events li a {
  font-size: 11px;
  height: 29px;
  position: relative;
  text-decoration: none;
}

nav.archive-links ol.ol-events li .main-image:after,
nav.archive-links ol.ol-events li .no-main-image:after {
  color: #b7b7b7;
  content: counter(li, decimal-leading-zero);
  counter-increment: li;
  font-size: 14px;
  line-height: 29px;
  height: 29px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

nav.archive-links li .main-image,
nav.archive-links li .no-main-image {
  float: left;
  margin-right: 0.5em;
  width: 30px;
  height: 30px;
  background: #e6e6e6;
}

nav.archive-links li .main-image.event-one,
nav.archive-links li .no-main-image.event-one {
  background: yellow;
}

nav.archive-links li .main-image.event-two,
nav.archive-links li .no-main-image.event-two {
  background: orange;
}

nav.archive-links li .main-image {
  /*background-image: url('http://placekitten.com/g/200/200');*/
  background-size: cover;
  background-position: center center;
}

nav.archive-links a:link,
nav.archive-links a:visited,
nav.archive-links a:hover,
nav.archive-links a:active {
  color: #000000;
}

nav.archive-links ol.ol-events li a:hover .main-image:after,
nav.archive-links ol.ol-events li a:hover .no-main-image:after {
  color: #2690d8;
}

nav.archive-links ol.ol-events li a:active .main-image:after,
nav.archive-links ol.ol-events li a:active .no-main-image:after,
nav.archive-links ol.ol-events li.active a .main-image:after,
nav.archive-links ol.ol-events li.active a .no-main-image:after {
  color: #777;
}

nav.archive-links li + li {
  border-top: 1px solid #d9d9d9;
}

nav.archive-links li span {
  display: block;
  line-height: 1em;
}

nav.archive-links span.link-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0.3em;
  font-size: 1em;
}

nav.archive-links span.link-excerpt {
  color: #c3c3c3;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* @media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
} */
