.timeline button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.timeline .circle:hover {
  position: relative;

  -webkit-transition: height 0.25s ease, width 0.25s ease;
  transition: height 0.25s ease, width 0.25s ease;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timeline .circle {
  height: 60px;
  width: 60px;
}

.timeline .circle:hover:before {
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}

.timeline .circle:hover:after {
  -webkit-animation: ripple 1s linear 0.5s infinite;
  animation: ripple 1s linear 0.5s infinite;
}

.timeline .circle:before,
.timeline .circle:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
  }

  75% {
    -webkit-transform: scale(2.75);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(2.75);
    opacity: 1;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline > ol {
  font-size: 0;
  width: 100vw;
  padding: 100px 0;
  transition: all 1s;

  /* AutoScroll */
  animation: cambio 20s infinite linear;
}

.timeline > ol > li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: black;

  /* AutoScroll */
  padding: 0 10px;
  list-style: none;
}

.timeline > ol > li:last-child {
  width: 250px;
}

.timeline > ol > li:not(:last-child) span.show-info {
  content: "";
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  left: calc(100% + 1px);
  bottom: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f8780f;
}

.timeline > ol > li:not(:last-child) .just-date {
  position: absolute;
  height: auto;
  opacity: 1;
  right: -35px;
  top: -5px;
  z-index: -1;
}

.timeline > ol > li.flip .just-date {
  top: -95px !important;
}

.timeline > ol > li.flip .circle {
  top: -15px !important;
}

.timeline > ol > li:nth-child(odd) .just-date {
  top: 28px;
}

.timeline > ol > li:nth-child(even) .just-date {
  top: -40px;
  display: none;
}

.timeline > ol > li:nth-child(odd) .circle {
  top: 18px;
}

.timeline > ol > li:nth-child(even) .circle {
  top: -12px;
  display: none;
}

.timeline > ol > li:not(:last-child) .just-date p {
  font-size: 0.8rem;
  font-weight: normal;
}

.timeline time:not(.date) {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeLineText {
  margin-top: 43px;
  margin-right: -255px;
  font-family: Inter !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}
